a.scroll-to-top(href="#anchor-navbar-top")
    span.caret-icon.top

a.forum-link(href="#")
    span.fas.fa-comments.forum-link__icon
    p.forum-link__text Poradna

footer
    section.footer-bar
        .footer-bar__img1.post__image-container
            img.lazy.post__featured-image(src=URLbase+"img/lazy/lazy-footer-bar-poslechova.jpg" data-src=URLbase+"img/footer-bar-poslechova.jpg" alt="#" title="#")
        .footer-bar__img2.post__image-container
            img.lazy.post__featured-image(src=URLbase+"img/lazy/lazy-footer-bar-email.jpg" data-src=URLbase+"img/footer-bar-email.jpg" alt="#" title="#")
        .container.footer-bar__container

            .footer-bar__listen
                h4.footer-bar__h4 Chcete si před nákupem vyzkoušet vše na vlastní kůži?
                h3.footer-bar__h3 Navštivte naši poslechovou místnost!
                a.btn.footer-bar__btn-link(href="#") Více informací

            .footer-bar__email
                h3.footer-bar__h3 Novinky na email
                p.footer-bar__p Odebírejte aktuální informace a oznámení o nejnovějších akcích na Váš email
                .footer-bar__email-form
                    form(method="post")
                        input.form-control.footer-bar__input(type="text" name="email-sub-input" id="email-sub-input" placeholder="Zadejte vaši emailovou adresu..." required)
                        button.btn.form-control.footer-bar__btn( type="submit" name="email-sub-button" id="email-sub-button") Odebírat

    section.footer-contacts
        .container.footer-contacts__container
            .footer-contacts__wrap
                .footer-contacts__single
                    span.footer-contacts__text
                        p.footer-contacts__p Volejte Po-Pá: 8:00 - 16:00
                        h3.footer-contacts__h3 +420 777 888 042
                .footer-contacts__single
                    span.footer-contacts__text
                        p.footer-contacts__p Pište na emailovou adresu
                        h3.footer-contacts__h3 info@gramofony-desky.cz
                .footer-contacts__single
                    span.footer-contacts__text
                        h3.footer-contacts__h3 Osobně na prodejně
                        p.footer-contacts__p Sdružení House Of Music
                        p.footer-contacts__p Podpuklí 288
                        p.footer-contacts__p Frýdek-Místek, 73801

    section.footer-main
        .container
            .row
                .col-12.col-sm-6.col-md-6.col-lg-3.col-xl-3
                    h5.footer-main__h5 Vše o nákupu
                    a.footer-main__link(href="#") Obchodní podmínky
                    a.footer-main__link(href="#") Reklamační řád
                    a.footer-main__link(href="#") Jak nakupovat
                    a.footer-main__link(href="#") Doprava zdarma
                    a.footer-main__link(href="#") Ochrana osobních údajů
                    a.footer-main__link(href="#") Časté dotazy
                    a.footer-main__link(href="#") Nákup na splátky ESSOX

                .col-12.col-sm-6.col-md-6.col-lg-3.col-xl-3
                    h5.footer-main__h5 O společnosti
                    a.footer-main__link(href="#") Proč nakupovat u nás
                    a.footer-main__link(href="#") O audio technice
                    a.footer-main__link(href="#") Kamenná prodejna
                    a.footer-main__link(href="#") Poslechová místnost
                    a.footer-main__link(href="#") Kontakty
                    a.footer-main__link(href="#") Aktuality

                .col-12.col-sm-6.col-md-6.col-lg-3.col-xl-3
                    h5.footer-main__h5 Uživatelská nabídka
                    a.footer-main__link(href="#") Přihlášení
                    a.footer-main__link(href="#") Registrace
                    a.footer-main__link(href="#") Zapomenuté údaje

                .col-12.col-sm-6.col-md-6.col-lg-3.col-xl-3
                    h5.footer-main__h5 Najdete nás také na
                    .footer-main__social
                        a.footer-main__social-link(href="https://facebook.com/"+metaFacebookName)
                            span.footer-main__social-icon #[span.fab.fa-facebook]
                        a.footer-main__social-link(href="https://youtube.com/"+metaYoutubeName)
                            span.footer-main__social-icon #[span.fab.fa-youtube]
                        a.footer-main__social-link(href="https://twitter.com/"+metaTwitterName)
                            span.footer-main__social-icon #[span.fab.fa-twitter]
                        a.footer-main__social-link(href="https://instagram.com/"+metaInstagramName)
                            span.footer-main__social-icon #[span.fab.fa-instagram]
                    img.footer-main__logo(src=URLbase+"images/logo.svg" alt=metaSitename title=metaSitename)



section.copyright
    .container.copyright__container
        .copyright__wrap
            h5.copyright__h5 Copyright © 2018 #[a.copyright__link(href=metaURL) #{metaSitename}] Všechna práva vyhrazena.
            h5.copyright__pull Vytvořeno v #[a.copyright__link(href=metaAuthorURL) #{metaAuthor}]
            p.copyright__farm #[a.copyright__farm-link(href="#") Postele z masivu] za nejlepší ceny, #[a.copyright__farm-link(href="#") Dětské boty] a oblečení, výroba bazénových krytů a prodej #[a.copyright__farm-link(href="#") Polykarbonátu], Frýdek-Místek je #[a.copyright__farm-link(href="#") FAJNEMJESTO], nejlepší DJ v okolí #[a.copyright__farm-link(href="#") DJ Jan Opěla]
