doctype html
html(lang="en")
    head
        include _variables.pug  
        meta(charset="utf-8")
        meta(content="IE=edge" http-equiv="X-UA-Compatible")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        title #{title}
        meta(content="index,follow,snippet,archive" name="robots")
        meta(content=metaDescription name="description")
        meta(content=metaKeywords lang="cs" name="keywords")
        meta(content=metaAuthor name="author")
        meta(content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport")

        link(rel="canonical" href=metaURL)
        meta(property="og:locale" content="cs_CZ")
        meta(property="og:type" content="website")
        meta(property="og:title" content=title)
        meta(property="og:description" content=metaDescription)
        meta(property="og:url" content=metaURL)
        meta(property="og:site_name" content=metaSitename)
        meta(name="twitter:card" content="summary")
        meta(name="twitter:site" content=metaTwitterName)
        meta(name="twitter:title" content=title)
        meta(name="twitter:description" content=metaDescription)
        meta(name="twitter:image" content=metaTwitterImg)
        include _css-include.pug  
    body
        include _nav.pug
        section.hero.post__image-container
            img.lazy.post__featured-image(src=URLbase+"img/lazy/lazy-bg-hero.jpg" data-src=URLbase+"img/bg-hero.jpg" alt="#" title="#")
            .container.hero__container
                .hero__swiper
                    .hero__swiper-wrap
                        .swiper-wrapper
                            .swiper-slide
                                img.swiper-lazy(src=URLbase+"http://via.placeholder.com/1220x480")
                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                            .swiper-slide
                                img.swiper-lazy(data-src=URLbase+"http://via.placeholder.com/1220x480")
                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                            .swiper-slide
                                img.swiper-lazy(data-src=URLbase+"http://via.placeholder.com/1220x480")
                                .swiper-lazy-preloader.swiper-lazy-preloader-white

                        .swiper-pagination.swiper-pagination-white.swiper-pagination--hero
                    .swiper-button-prev.swiper-button-prev--hero
                    .swiper-button-next.swiper-button-next--hero

        section.benefits
            .container.benefits__container
                .benefits__single
                    .benefits__img-wrap
                        span.fas.fa-truck.benefits__img
                    p.benefits__text Doprava zdarma nad 5000 Kč

                .benefits__single
                    .benefits__img-wrap
                        span.fas.fa-dropbox.benefits__img
                    p.benefits__text Doprava zdarma nad 5000 Kč

                .benefits__single
                    .benefits__img-wrap
                        span.fas.fa-gift.benefits__img
                    p.benefits__text Doprava zdarma nad 5000 Kč

                .benefits__single
                    .benefits__img-wrap
                        span.fas.fa-map-pin.benefits__img
                    p.benefits__text Doprava zdarma nad 5000 Kč


        include _index-categories.pug

        section.index-products
            .container  
                .filter-sort
                    ul.nav.nav-tabs
                        li.nav-item
                            a.nav-link.active(onclick="#") Nejoblíbenější
                        li.nav-item
                            a.nav-link(onclick="#") Nejlevnější
                        li.nav-item
                            a.nav-link(onclick="#") Nejdražší
                        li.nav-item
                            a.nav-link(onclick="#") Jméno A-Z 
                .swiper-container-5-products-wrap     
                    .swiper-container-5-products
                        .swiper-wrapper
                            .swiper-slide
                                include _single-product-cell-small.pug
                            .swiper-slide
                                include _single-product-cell-small.pug
                            .swiper-slide
                                include _single-product-cell-small.pug
                            .swiper-slide
                                include _single-product-cell-small.pug         
                            .swiper-slide
                                include _single-product-cell-small.pug
                            .swiper-slide
                                include _single-product-cell-small.pug
                            .swiper-slide
                                include _single-product-cell-small.pug
                            .swiper-slide
                                include _single-product-cell-small.pug

                    .swiper-pagination.swiper-pagination-white
                    .swiper-button-prev.swiper-button-prev--5
                    .swiper-button-next.swiper-button-next--5

        section.logos
            .container.logos__container
                .logos__swiper  
                    .logos__swiper-wrap
                        .swiper-wrapper
                            .swiper-slide
                                img.swiper-lazy(data-src=URLbase+"http://via.placeholder.com/170x70")
                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                            .swiper-slide
                                img.swiper-lazy(data-src=URLbase+"http://via.placeholder.com/170x70")
                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                            .swiper-slide
                                img.swiper-lazy(data-src=URLbase+"http://via.placeholder.com/170x70")
                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                            .swiper-slide
                                img.swiper-lazy(data-src=URLbase+"http://via.placeholder.com/170x70")
                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                            .swiper-slide
                                img.swiper-lazy(data-src=URLbase+"http://via.placeholder.com/170x70")
                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                            .swiper-slide
                                img.swiper-lazy(data-src=URLbase+"http://via.placeholder.com/170x70")
                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                            .swiper-slide
                                img.swiper-lazy(data-src=URLbase+"http://via.placeholder.com/170x70")
                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                            .swiper-slide
                                img.swiper-lazy(data-src=URLbase+"http://via.placeholder.com/170x70")
                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                            .swiper-slide
                                img.swiper-lazy(data-src=URLbase+"http://via.placeholder.com/170x70")
                                .swiper-lazy-preloader.swiper-lazy-preloader-white

                    .swiper-button-prev.swiper-button-prev--logos
                    .swiper-button-next.swiper-button-next--logos

        section.index-cta
            .container
                .row
                    .col-12.col-sm-12.col-md-8.col-lg-8.col-xl-8
                        .index-cta__single.post__image-container
                            img.lazy.post__featured-image(src=URLbase+"img/lazy/lazy-index-cta-poradna.jpg" data-src=URLbase+"img/index-cta-poradna.jpg" alt="#" title="#")
                            .index-cta__textfield
                                h4.index-cta__subtitle Potřebujete poradit s výběrem nového zařízení nebo máte jiné dotazy?
                                h3.index-cta__title Rádi Vám pomůžeme v naší online poradně.
                                a.btn.btn-ghost-color.index-cta__btn(href="#") Přejít do poradny
                    .col-12.col-sm-12.col-md-4.col-lg-4.col-xl-4
                        .index-cta__single.index-cta__single--small.post__image-container
                            img.lazy.post__featured-image(src=URLbase+"img/lazy/lazy-index-cta-prodejna.jpg" data-src=URLbase+"img/index-cta-prodejna.jpg" alt="#" title="#")
                            .index-cta__textfield
                                h3.index-cta__title Kamenná prodejna
                                .index-cta__text-wrap
                                    p.index-cta__text Sdružení House Of Music
                                    p.index-cta__text Podpuklí 288
                                    p.index-cta__text Frýdek-Místek
                                    p.index-cta__text 73801
                                a.btn.btn-ghost-color.index-cta__btn(href="#") Přejít do poradny


        include _news-section.pug
        
        include _footer.pug

        include _js-include.pug